@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3edf7;
}

.wrapper {
  position: relative;
  width: 160px;
  height: 160px;
}

.outer {
  width: 160px;
  height: 160px;
  /* border: 1px solid red; */
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.wrapper .innner {
  width: 120px;
  height: 120px;
  /* border: 1px solid red; */
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.05px -0.5px 0 rgba(255, 255, 255, 1), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
    0 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .innner .num {
  font-size: 20px;
  font-weight: 600;
  color: #112f81;
}

circle {
  fill: none;
  /* stroke: red; */
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 110;
  }
}
